:root {
    --main-color: #08526d;
    --secondary-color: #ec1c23;
    --dark-color: #989898;
    --section-color: #f0f5f7;
}
.bg-section {
    background-color: var(--section-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.carousel-indicators [data-bs-target] {
    height: 8px;
    width: 35px;
}
/* START Component */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: -1;
}
.section-title h1 {
    font-size: 50px;
}
.section-title p {
    width: 80%;
}
/* END Component */
/* START navbar */
.upper-nav {
    background-color: var(--main-color);
    color: white;
}
.upper-nav .right button {
    color: white;
    border-color: var(--secondary-color);
}
.navbar .navbar-brand {
    color: var(--main-color);
}
.navbar .navbar-brand span {
    color: var(--secondary-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
    border-color: var(--secondary-color);
}
.navbar .navbar-nav .nav-link {
    transition: unset;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgb(80, 80, 80) !important;
}
.navbar .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}
/* END navbar */
/* START landing */
.landing {
    height: calc(100vh - 152px);
    /* overflow: hidden; */
}
.landing .carousel-item {
    height: calc(100vh - 152px);
}
.landing .overlay {
    z-index: 1;
}
.landing .overlay h1 {
    font-size: 50px;
    line-height: 1.6;
}
@media (max-width: 364px) {
    .landing .overlay h1 {
        font-size: 43px;
    }
}
@media (min-width: 992px) {
    .landing .overlay h1 {
        font-size: 70px;
    }
}
.landing .overlay h1 span {
    background-color: var(--secondary-color);
}
/* END landing */
/* START Services */
.services .service i {
    width: 50px;
    height: 50px;
    padding-block: 13px;
    font-size: 25px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
.services .service h4 {
    color: var(--main-color);
}
.services .service p {
    color: var(--dark-color);
}
/* END Services */
/* START Overview */
.overview button,
.overview button:hover {
    background-color: var(--secondary-color);
}
/* END Overview */
/* START Features */
.work .links a {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    display: block;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.work .links a:hover,
.work .links a.active {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
}
.work img.hidden {
    opacity: 0.08;
    transition: all 0.3s;
}
/* END Features */
/* START Posts */
.posts .card div h5 {
    color: var(--main-color);
}
.posts .card button {
    color: var(--secondary-color);
}
/* END Posts */
/* START Testimonials */
.testimonials {
    background-image: url("../images/testimonial.jpg");
    background-size: cover;
    background-position: fixed;
    z-index: 1;
}
.testimonials .carousel {
    min-height: 82vh;
}
.testimonials .carousel .carousel-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* END Testimonials */
/* START Pricing */
.pricing .card header,
.pricing .card .price {
    color: var(--main-color);
}
.pricing .card button {
    background-color: var(--secondary-color);
}
@media (min-width: 992px) {
    .pricing .card.special {
        transform: translateY(-20px);
    }
}
.pricing .card.special .price {
    background-color: var(--secondary-color);
    color: white;
}
.pricing .card.special button {
    background-color: var(--main-color);
}
/* END Pricing */
/* START Choose-us */
.choose-us .text {
    background-color: var(--main-color);
    color: white;
}
.choose-us .text p {
    font-size: 18px;
}
.choose-us .text button {
    background-color: var(--secondary-color);
}
/* END Choose-us */
/* START Info */
.info .box i {
    font-size: 80px;
    color: var(--main-color);
}
.info .box div {
    color: var(--main-color);
    font-size: 50px;
}
.info .box p {
    color: var(--secondary-color);
}
/* END Info */
/* START Contact-us */
.contact {
    background-color: var(--secondary-color);
}
/* END Contact-us */
/* START sub-footer */
.sub-footer .about h1 {
    color: var(--main-color);
    font-size: 50px;
}
.sub-footer .about h1 span {
    color: var(--secondary-color);
}
.sub-footer .about .btn {
    color: var(--main-color);
    font-size: 14px;
}
.sub-footer a:hover {
    text-decoration: underline;
}
.sub-footer .about .btn i {
    background-color: var(--main-color);
    color: white;
    padding: 3px 4px;
    font-size: 10px;
    margin-right: 6px;
}
.sub-footer h4,
.sub-footer .links li i {
    color: var(--main-color);
}
.sub-footer .links li i {
    font-size: 14px;
    margin-right: 6px;
}
/* END sub-footer */
/* START footer */
footer .icons i {
    margin-left: 15px;
    color: var(--dark-color);
    font-size: 18px;
}
/* END footer */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
